
/* --- Styling for whole site --- */

header, main, nav, footer {
    text-align: center;
    font-family: 'Open Sans Condensed', cursive;
}

/* Title on each page */
h1 {
    font-size: 4.5em;
    color: white;
}

/* Background and text of each page */
body {
    background-color:#8A8F92; /* gray */
    color:black;
}

nav {
    background-color: #1F527E;
    padding: 10px;
}

/* Menu bar at the top of each page */
nav a { /* links within "nav" container */
    padding:25px;
    padding-bottom:4px;
    font-size: 1.5em;
    text-decoration: none;   /* removes underline */
    color: white;            /* default links are blue */
}

/* Alter menu links for hover and current page */
nav a:hover, .current { /* pseudo class */
    border-bottom:2px black solid; /* blue */
    font-size: 1.7em;
    transition: .9s; 
    font-weight: bold;
}

.content_title {
    font-size: 1.5em;
}

.content {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    margin: 20px;
}

footer {
    font-size: .9em;
    color: black;
}