
/* --- Styling for whole site --- */

header, nav, footer {
    text-align: center;
    font-family: 'Open Sans Condensed', cursive;
}

main {
    font-family: 'Open Sans Condensed', cursive;
    width: 1000px;
    margin: auto; /* Makes all main content centered */
}

/* Title on each page */
h1 {
    font-size: 3em;
    color: white;
    background-color: #8A8F92; /* dark gray */
    padding: 20px;
    margin: 0px;
}

/* Background and text of each page */
body {
    background-color:#D9DADC; /* light gray */
    color:black;
    margin:0;
    padding:0;
    height: 100%;
}

nav {
    background-color: #1F527E;
    padding: 10px;
}

/* Menu bar at the top of each page */
nav a { /* links within "nav" container */
    padding:25px;
    padding-bottom:4px;
    font-size: 1.5em;
    text-decoration: none;   /* removes underline */
    color: white;            /* default links are blue */
}

/* Alter menu links for hover and current page */
nav a:hover, .current { /* pseudo class */
    border-bottom:2px white solid; /* blue */
    font-size: 1.7em;
    font-weight: bold;
}

.content_title {
    font-size: 1.8em;
    font-weight: bold;
}

.content {
    font-size: 1.2em;
    display: flex;
    margin: 30px;
    padding: 20px;
}

.home_content {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.home_text {
    font-size:1.2em;
    text-align: left;
    padding-left:20px;
    padding-right:20px;
}

.list_title {
    font-style: italic;
    font-weight: bold;
}

.list_item {
    font-family: Lobster, cursive;
}

.quote_text {
    font-style: italic;
}

.reference_title {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.reference_content {
    margin: 20px;
    text-align: center;
}

.reference_content a {
    font-size:1.3em;
    text-decoration: none; 
    color: black;
}

.reference_content a:hover {
    font-size:1.6em;
    border-bottom:2px #1F527E solid;
    color: black;
}

footer {
    font-size: .9em;
    color: black;
    margin: 40px;
}